body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
  }
  
  .container {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 11px;
  }
  
  .password {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  